.gallery{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    
}
.gallery img{
    flex: 1;
    width: 25%;
    /* height: 100px; */
}

